body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: black;
}

.content {
    color: black;
    background-color: skyblue;
    border: 4px solid black;
    margin-left: 5px;
}

.content h2 {
    text-align: center;
}

.content img {
    width: 40%;
    height:auto;
    padding: 5px 10px;
    margin-left: 5px;
    border: 2px dashed black;
}

.content-description {
    text-align: left;
    font-style: italic;
    color: black;
    font-size: 18px;
    float:right;
}