h1 {
    text-align: center;
    color: black;
}

.content {
    color: black;
    background-color: skyblue;
}

.content h2 {
    text-align: center;
}

.content img {
    width: 30%;
    height:auto;
    padding: 5px 10px;
    border: 2px dashed black;
}
