body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

nav a:hover {
    color: red;
    border: 1px dotted black;
}
h1 {
    text-align: center;
    color: black;
}

.content {
    color: black;
    background-color: skyblue;
    border: 4px solid black;
    margin: 0 0 10px 5px;

    border: 2px dashed black;
    border-radius: 10px;
}

.content h2 {
    text-align: center;
}

.content img, .content video {
    width: 40%;
    height:auto;
    padding: 5px 10px;
    margin-left: 5px;
}

.content-description {
    text-align: left;
    font-style: italic;
    color: black;
    font-size: 18px;
}

.content_spacer {
    height: 20px;
    width: 100%;
    background-color: rgb(7, 4, 182);
}